.div-img {
    text-align: center;
    justify-content: center;
    align-items: center;
}

#deals-img {
    border-color: #282d32;
    border-style: groove;
    border-radius: 7%;
    width: auto;
    max-width: 500px;
}